body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

input {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 30px;

  display: block;

  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
}

#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #096b72;

  width: 30%;
}

.inner-form {
  width: 90%;
}

#add-inp-btn {
  background-color: yellow;
  border-radius: 10px;
  text-align: center;
  width: 10%;

  font-weight: bold;
  font-size: 20px;
}

#submit-btn {
  background-color: orange;
  border-color: #096b72;
  border-radius: 5px;

  cursor: pointer;

  font-weight: bold;
  text-transform: uppercase;
}

#result {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: orange;
  background-color: #4b4441;

  border-radius: 20px;

  width: 25%;
  height: 30px;
}
